/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
	--accent-color: #2196f3;
	--main-color: #757575;
	--dark-color: #212121;
	--logo-color: #000000;
	--adress-color: #ffffff;
}

body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 1.72;
	letter-spacing: 0.03em;
	color: var(--dark-color);
	background-color: #ffffff;
}

span {
	color: var(--accent-color);
}

ul {
	list-style: none;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--logo-color);
}

.list {
	list-style: none;
}

.text {
	display: none;
}

.menu-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 0.875;
	letter-spacing: 0.02em;
	color: var(--dark-color);
	text-decoration: none;
}

.menu-link:hover,
.menu-link:focus,
.contacs-link:hover,
.contacs-link:focus,
.adress:hover,
.adress:focus {
	color: var(--accent-color);
}

.button:hover,
.button:focus {
	color: var(--adress-color);
	background-color: #2196f3;
}
.contacs-link,
.btn {
	font-weight: 500;
	font-size: 14px;
	line-height: 0.875;
	letter-spacing: 0.02em;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	background-color: #c4c4c4;
}

.page-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
	color: var(--adress-color);
}

.hero {
	background: #c4c4c4;
}

.btn {
	background-color: transparent;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.875;
	display: flex;
	text-decoration: none;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--adress-color);
}

.button {
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--dark-color);
}
.section-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.66;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--dark-color);
}

.section-subtitle {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--dark-color);
}

.section-descripcion {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-color);
}

.signature {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background: #383434;
	color: var(--adress-color);
}

.comand-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.1875;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--dark-color);
}

.comand-item {
	font-size: 16px;
	line-height: 1.1875;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-color);
}

.adress {
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--adress-color);
	background: #383434;
	text-decoration: none;
}
